{% extends 'base.html' %}
{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block h1 %}
    <center><h1 class="display-5">Content Based Image Retrieval</h1></center>
{% endblock %}


{% block data %}
    <center><h3>Here you can search images based on content of input image</h3></center>
    <br>
    <center>
        <div class="d-grid gap-5 d-md-block">
            <a class="btn btn-outline-dark" href="/upload" role="button" methods="post">Upload</a>
            <a class="btn btn-outline-dark" href="/search" role="button" methods="get">Search</a>
        </div>
    </center>
{% endblock %}
