{% extends 'base.html' %}


{% block title %}
    <title>CBIR - Home page</title>
{% endblock %}


{% block heading %}
    <div class="display-6 newnav" >
        <center><a style="font-size:1.3em;">Content Based Image Retrieval</a></center>
    </div>
{% endblock %}


{% block data %}
    <br>
    <h3 style="text-align:center;">Here you can search images based on content of input image</h3>
    <br>
    <center>
        <div class="d-grid gap-5 d-md-block">
            <a class="btn btn-outline-dark" href="/upload" role="button" methods="post">Upload</a>
            <a class="btn btn-outline-dark" href="/search" role="button" methods="get">Search</a>
        </div>
    </center>
{% endblock %}
