{% extends 'base.html' %}


{% block title %}
    <title>Similar Images by Distance Threshold</title>
{% endblock %}


{% block additional_script %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <style>
        .gallery {
        padding: 40px;
        }

        .gallery img {
        width: 100%;
        border-radius: 0;
        position: relative;
        }
    </style>
{% endblock %}


{% block heading %}
{% endblock %}


{% block data %}
    <div class="row gallery" style="padding-left:0px; padding-right:0px;" id="main_gallery">
        <p style="font-size:1.2em; margin-bottom:0px">Similar Images: </p>
        {% for image in image_names %}
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="thumbnail">
                    <a href="{{ static('Uploaded_images/'+image) }}">
                        <img class="diplay_image" src="{{ static('Uploaded_images/'+image) }}"
                             style="padding:5px; object-fit:cover;" height="270" width="250" alt="Failed to load image">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run(".gallery", {
          animation: "slideIn"
        });
    </script>
{% endblock %}