{% extends 'base.html' %}


{% block title %}
    <title>Search Images</title>
{% endblock %}


{% block additional_script %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <style>
        .gallery {
        padding: 40px;
        }

        .gallery img {
        width: 100%;
        border-radius: 0;
        position: relative;
        }
    </style>
{% endblock %}


{% block heading %}
    <div class="display-6 newnav" style="height:1.4em;">
        <a style="margin-left:2%; text-align:center;">Search Images</a>
        <a href="{{ url_for('main_app.homepage') }}" style="float:right; margin-right:2%;"><button class="btn btn-outline-light">Home</button></a>
    </div>
{% endblock %}


{% block data %}
    <div style="margin-left:2%; margin-right:2%;">
	    <br>
        <p style="font-size:1.5em;">Select image for searching similar images</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endif %}
                    {% if category=='info' %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endif %}
                    {% if category=='warning' %}
                        <p class="alert alert-warning">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="post" action="/search" enctype="multipart/form-data" id="form_loading">
            <input type="file" name="input_image" autocomplete="off" required>
            <input type="submit" class="btn btn-dark" value="Search" />
        </form>

        {% if image_names %}
            <div class="row gallery" style="padding-left:0px; padding-right:0px;">
                <p style="font-size:1.2em">Similar Images: </p>
                {% for image in image_names %}
                    <div class="col-sm-6 col-md-4 col-lg-2">
                        <div class="thumbnail">
                            <a href="{{ url_for('main_app.send_image', filename=image) }}">
                                <img class="diplay_image" src="{{ url_for('main_app.send_image', filename=image) }}" style="padding:5px;" height="250" width="250">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run(".gallery", {
          animation: "slideIn"
        });
    </script>
{% endblock %}
